@import '../../../colours.scss';

.tasklist {
  width: 20em;
  background-color: rgba($main-color, 0.8);
  margin-top: 2em;
  border-radius: 5px;
}

button.btn-xxl {
  width: 5em;
  height: 5em;
}

.large-icon {
  font-size: 2em;
}

.task {
  margin: 0 10px;
  border-radius: 5px;
}

.task:hover {
  cursor: pointer;
  background-color: $hover-color;
}
