<div class="container vertical-center w-50">
  <div class="row login-box bg-white">
    <div class="col-12 gy-3" align="center">
      <h3>Sign In</h3>
    </div>
    <div class="col-12 gy-3" align="center">
      <a class="btn btn-outline-dark" href={{googleLink}} role="button" style="text-transform:none">
        <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
        Login with Google
      </a>
    </div>
    <div class="col-12 gy-5" align="center">
      <div>
        <h3>What is Nood?</h3>
        <p>Cupcake ipsum dolor sit amet jelly donut I love. Sweet shortbread tart shortbread liquorice caramels. Oat cake I love lollipop pastry chocolate cake. Pie pudding chocolate bar wafer danish carrot cake I love I love cupcake.</p>
        <p>I love toffee toffee I love carrot cake jelly beans. Shortbread wafer pudding sugar plum tootsie roll lollipop. I love chupa chups chocolate cake brownie cupcake cake halvah.</p>
        <p>Cotton candy cake gummies chocolate pudding tootsie roll fruitcake. Sweet roll apple pie chocolate bar jelly-o tootsie roll tootsie roll icing toffee. Topping toffee tart croissant biscuit macaroon chocolate pudding candy canes.</p>
      </div>
  </div>
</div>

