@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/_mixins.scss';
@import 'src/colours.scss';

.login {
  background-color: $main-color;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.title {
  text-decoration: none;
  font-size: 2em;
  font-weight: bolder;
  @include media-breakpoint-up(lg) {
    font-size: 2.5em;
  }
}
