<div class="container panel shadow mt-5 ">
  <div class="row m-2">
    <h1 class="text-light fw-bold">Create a new task</h1>
  </div>
  <div class="row m-2">
    <input type="text" class="form-control" placeholder="Task name">
  </div>
  <div class="row m-2">
    <textarea class="form-control" placeholder="Describe your task"></textarea>
  </div>
  <div class="row m-2">
    <label for="startDate">Start Date</label>
    <input type="date" class="form-control" id="startdate">
  </div>
  <div class="row m-2">
    <label for="endDate">End Date</label>
    <input type="date" class="form-control" id="endDate">
  </div>
</div>
