<app-form title="{{ this.editTaskForm.get('name')?.value }}" submitButtonText="Update task" [formGroup]="editTaskForm" (onSubmit)="submit()">
  <div class="row m-2">
    <input
      type="text"
      class="form-control"
      placeholder="Task name"
      name="name"
      formControlName="name"
    />
    <div [hidden]="this.editTaskForm.get('name')?.valid || this.editTaskForm.get('name')?.pristine" class="alert alert-danger">
      <div *ngIf="this.editTaskForm.get('name')?.errors?.['required']">Name is required</div>
      <div *ngIf="this.editTaskForm.get('name')?.errors?.['pattern']">Name cannot be empty</div>
    </div>
  </div>
  <div class="row m-2">
    <textarea
      class="form-control"
      placeholder="Describe your task (optional)"
      name="description"
      formControlName="description"
    >
    </textarea>
  </div>
  <div class="row m-2">
    <label for="startDate" class="text-light fw-bold">Start Date</label>
    <input
      type="date"
      class="form-control"
      id="startdate"
      name="startDate"
      formControlName="startDate"
    />
    <div [hidden]="this.editTaskForm.get('startDate')?.valid || this.editTaskForm.get('startDate')?.pristine" class="alert alert-danger">
      <div *ngIf="this.editTaskForm.get('startDate')?.errors?.['required']">Start Date is required</div>
      <div *ngIf="this.editTaskForm.get('startDate')?.errors?.['notInPast']">Start date cannot be in the past</div>
    </div>
  </div>
  <div class="row m-2">
    <label for="endDate" class="text-light fw-bold">End Date (Optional)</label>
    <input type="date" class="form-control" id="endDate" name="endDate" formControlName="endDate" />
  </div>
</app-form>
