<div class="container h-100 my-5 p-3 border rounded shadow">
  <h1 class="text-center">Profile of {{ identity.given_name }}</h1>
  <div class="mx-5">
    <div>
      Your username is <span class="fw-bold">{{ identity.given_name }}</span>
    </div>
    <div>
      Your id is <span class="fw-bold">{{ identity.sub }}</span>
    </div>
    <button class="btn btn-danger my-2" data-bs-toggle="modal" data-bs-target="#delete-dialog">Delete Profile</button>
  </div>
</div>

<confirm-dialog
  title="Are you sure you want to delete your profile"
  message="Your tasks and checklists will be permanently removed!"
  confirmButtonText="Delete profile"
  (confirmed)="deleteProfile()"
></confirm-dialog>
