<div class="checklist h-100 text-light">
  <div *ngIf="this.checklist">
    <a tabindex="0" (click)="navigateToChecklist()">
      <h1 class="fw-bold clickable list-title text-center">{{ title }}</h1>
    </a>
  </div>
  <h1 *ngIf="!this.checklist" class="fw-bold list-title text-center">{{ title }}</h1>
  <div class="mx-5 text-truncate" *ngFor="let task of tasks">
    <input class="form-check-input" type="checkbox" [checked]="task.isDone" (click)="toggleDone(task)" />
    <a tabindex="0" (click)="navigateToTaskDetails(task)">
      <span class="task" [ngClass]="{ 'text-decoration-line-through': task.isDone }">
        {{ task.name }}
      </span>
    </a>
  </div>
</div>
