{
  "apiBaseUri": "",
  "oauth": {
    "issuer": "",
    "redirectUri": "",
    "clientId": "",
    "logoutUrl": "",
    "loginUrl": "",
    "audience": ""
  },
  "appDomain": "{where this app resides in}"
}
