<app-form
  title="New Checklist"
  submitButtonText="Create Checklist"
  [formGroup]="newChecklistForm"
  (onSubmit)="submit()"
>
  <div class="row m-2">
    <input type="text" class="form-control" placeholder="Checklist name" formControlName="name" [maxlength]="255" />
    <div
      [hidden]="newChecklistForm.get('name')?.valid || newChecklistForm.get('name')?.pristine"
      class="alert alert-danger"
    >
      <div *ngIf="newChecklistForm.get('name')?.errors?.['required']">Name is required</div>
      <div *ngIf="newChecklistForm.get('name')?.errors?.['pattern']">Name cannot be empty</div>
    </div>
  </div>
  <div class="row m-1">
    <select-list #taskList>
      <select-option *ngFor="let task of tasks" [item]="task" [title]="task.name"> </select-option>
    </select-list>
  </div>
</app-form>
