<app-form title="New task" submitButtonText="Create task" [formGroup]="newTaskForm" (onSubmit)="submit()">
  <div class="row m-2">
    <input
      type="text"
      class="form-control"
      placeholder="Task name"
      formControlName="name"
    />
    <div [hidden]="newTaskForm.get('name')?.valid || newTaskForm.get('name')?.pristine" class="alert alert-danger">
      <div *ngIf="newTaskForm.get('name')?.errors?.['required']">Name is required</div>
      <div *ngIf="newTaskForm.get('name')?.errors?.['pattern']">Name cannot be empty</div>
    </div>
  </div>
  <div class="row m-2">
    <textarea
      class="form-control"
      placeholder="Describe your task (optional)"
      name="description"
      formControlName="description"
    >
    </textarea>
  </div>
  <div class="row m-2">
    <label for="startDate" class="text-light fw-bold">Start Date</label>
    <input
      type="date"
      class="form-control"
      id="startdate"
      name="startDate"
      formControlName="startDate"
    />
    <div [hidden]="newTaskForm.get('startDate')?.valid || newTaskForm.get('startDate')?.pristine" class="alert alert-danger">
      <div *ngIf="newTaskForm.get('startDate')?.errors?.['required']">Start Date is required</div>
      <div *ngIf="newTaskForm.get('startDate')?.errors?.['notInPast']">Start date cannot be in the past</div>
    </div>
  </div>
  <div class="row m-2">
    <label for="endDate" class="text-light fw-bold">End Date (Optional)</label>
    <input
      type="date"
      class="form-control"
      id="endDate"
      name="endDate"
      formControlName="endDate"
    />
  </div>
</app-form>
