<form [formGroup]="formGroup" (ngSubmit)="onSubmit.emit()">
  <div class="container panel shadow mt-5">
    <div class="row">
      <div class="col-3 m-2">
        <a routerLink="/dashboard">
          <button class="btn btn-outline-primary rounded btn-light">
            <span class="d-none d-lg-inline">Back to Dashboard</span>
            <i class="d-lg-none bi bi-arrow-return-left"></i>
          </button>
        </a>
      </div>
      <div class="col-6 text-truncate">
        <h1 class="text-light text-center fw-bold">{{ title }}</h1>
      </div>
    </div>
    <div class="col-3"></div>
    <div>
      <ng-content></ng-content>
    </div>
    <div class="row m-1">
      <button type="submit" class="btn btn-outline-primary rounded btn-light" [disabled]="!formGroup.valid">
        {{ submitButtonText }}
      </button>
    </div>
  </div>
</form>
