<div class="container panel shadow mt-5">
  <div class="row flex-nowrap">
    <div class="col m-2">
      <button routerLink="/dashboard" class="btn btn-outline-primary rounded btn-light">
        Back to Dashboard
      </button>
    </div>
    <div class="col">
      <h1 class="text-light text-center text-truncate fw-bold">{{task.name}}</h1>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col">
      <h3 class="text-light fw-bold">Description</h3>
      <div class="text-field p-1" *ngIf="!isNullOrWhitespace(task.description); else elseDescription">{{task.description}}</div>
      <ng-template #elseDescription>
        <div class="text-field p-1">(No Description)</div>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col text-align-center">
      <h3 class="text-light fw-bold">Start Date</h3>
      <div class="text-field p-1">{{task.startDate | date:'longDate'}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col text-align-center">
      <h3 class="text-light fw-bold">End Date</h3>
      <div class="text-field p-1" *ngIf="!isNullOrWhitespace(task.endDate); else elseEndDate">{{task.endDate | date:'longDate'}}</div>
      <ng-template #elseEndDate>
        <div class="text-field p-1">(No End Date)</div>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col my-1 d-flex flex-column flex-gap-1">
      <button (click)="navigateToEdit()" class="btn btn-light btn-outline-primary">Edit</button>
      <div class="py-1"></div>
      <button type="button" class="btn btn-light btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-dialog" >Delete</button>
    </div>
  </div>
</div>

<!-- Modal for delete confirmation -->
<div class="modal fade" id="delete-dialog" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete task '{{task.name}}' ?</p>
      </div>
      <div class="modal-footer">
        <button (click)="delete()" type="button" class="btn btn-danger" data-bs-dismiss="modal">Delete task</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
