<div class="container panel shadow mt-5">
  <div class="row flex-nowrap">
    <div class="col-3 m-2">
      <button routerLink="/dashboard" class="btn btn-outline-primary rounded btn-light">
        <span class="d-none d-lg-inline">Back to Dashboard</span>
        <i class="d-lg-none bi bi-arrow-return-left"></i>
      </button>
    </div>
    <div class="col-6 text-truncate">
      <h1 class="text-light text-center fw-bold">{{ task.name }}</h1>
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row">
    <div class="col">
      <h3 class="text-light fw-bold">Description</h3>
      <textarea
        *ngIf="!isNullOrWhitespace(task.description); else elseDescription"
        class="form-control"
        [value]="task.description"
        readonly="true"
      >
      </textarea>
      <ng-template #elseDescription>
        <div class="text-field p-1">(No Description)</div>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col text-align-center">
      <h3 class="text-light fw-bold">Start Date</h3>
      <div class="text-field p-1">{{ task.startDate | date: 'longDate' }}</div>
    </div>
  </div>
  <div class="row">
    <div class="col text-align-center">
      <h3 class="text-light fw-bold">End Date</h3>
      <div class="text-field p-1" *ngIf="!isNullOrWhitespace(task.endDate); else elseEndDate">
        {{ task.endDate | date: 'longDate' }}
      </div>
      <ng-template #elseEndDate>
        <div class="text-field p-1">(No End Date)</div>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col my-1 d-flex flex-column flex-gap-1">
      <button
        type="button"
        class="btn btn-light btn-outline-danger"
        data-bs-toggle="modal"
        data-bs-target="#delete-dialog"
      >
        Delete
      </button>
      <div class="py-1"></div>
      <button (click)="navigateToEdit()" class="btn btn-light btn-outline-primary">Edit</button>
    </div>
  </div>
</div>

<confirm-dialog
  message="Are you sure you want to delete task '{{ task.name }}' ?"
  confirmButtonText="Delete task"
  (confirmed)="delete()"
></confirm-dialog>
