@import "src/colours.scss";

.panel {
  border-radius: 5px;
  padding: 10px;
  background-color: rgba($main-color, 0.8);
}

.text-field {
  background-color: white;
  border-radius: 5px;
}
